body{
    background-color: 	#0F0F0F;
    color: #ffffff;

}
.main-heading{  
    font-family: 'Inter';
    font-weight: 500;
    color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-heading{  
    color: #A3A3A3;
    font-family: 'Inter';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading-login{  
    font-family: 'Inter';
    font-weight: 500;
    font-size: 9vh;
    color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link{
    color: 	#ffffff;
    font-family: 'Inter';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover{
    color: #6366F1;
    text-decoration: underline;
}

.login-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: 3vh;
}


.login-container input {
  margin-bottom: 10px;
  border-radius: 5px;
}

.login-button
{
    background-color: aliceblue;
    border-radius: 10px;
}
.login-button:hover{
    background-color: #6366F1;
}