{% extends 'base.html.j2' %}

{% block title %} Home {% endblock %}

{% block content %}
<h1 class="main-heading"> Welcome to SkillSwap.</h1>

<h3 class="sub-heading"> Login or SignUp to continue.</h3>

<a href="/login" class="link"> Login </a> 
<a href="/register" class="link"> Register </a>

<!-- Make this a button Later -->

{% endblock %}