{% extends 'base.html.j2' %}
{% block title %} Login {% endblock %}
{% block content %}

{% import "macros.html.j2" as input_field %}


<h2>Login</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, msg in messages %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
  {% endfor %}
{% endwith %}

{% if form.errors %}
  <ul style="color:red;">
  {% for field, errors in form.errors.items() %}
    <li>{{ field }}: {{ errors[0] }}</li>
  {% endfor %}
  </ul>
{% endif %}

<form method="POST">
  {{ form.hidden_tag() }}

  <p>{{ form.uName.label }}<br>{{ form.uName(size=32) }}</p>
  <p>{{ form.uPass.label }}<br>{{ form.uPass(size=32) }}</p>
  <p>{{ form.submit() }}</p>
</form>

</div>
{% endblock %}
