{% extends 'base.html.j2' %}
{% block title %} Login {% endblock %}
{% block content %}

{% import "macros.html.j2" as input_field %}


<h2>Login</h2>



<form method="POST">
  {{ form.hidden_tag() }}

  <p>{{ form.uName.label }}<br>{{ form.uName(size=32) }}</p>
  <p>{{ form.uPass.label }}<br>{{ form.uPass(size=32) }}</p>
  <p>{{ form.submit() }}</p>
</form>

</div>
{% endblock %}
