{% extends 'base.html.j2' %}
{% block title %} Login {% endblock %}
{% block content %}

{% import "macros.html.j2" as input_field %}


<h1 class="main-heading-login">SkillSwap</h1>
<div class="login-container">
  <form  method="post">
      <label for="username" class="sub-heading">Username: </label>
      {{ input_field.input_field("password", "password", "Enter your password", type="password", required=True, minlength=6) }}

    <label for="password" class="sub-heading">Password: </label>
    {{ input_field.input_field("password", "password", "Enter your password", type="password") }}

    <button class="login-button">Login</button>
  </form>
</div>
{% endblock %}
