{% macro input_field(id, name, placeholder, type="text", required=False, minlength=None) %}

<input id="{{ id }}" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}"
  {% if required %} required 
  {% endif %}  
  {% if minlength %} minlength= "{{ minlength }}"  
  {% endif %} />

{% endmacro %}